.app {
  max-width: 1280px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app-header {
  text-align: center;
}

.app-header h1 {
  color: #646cff;
  font-size: 2.5rem;
}

.app-header p {
  color: #888;
  font-size: 1.2rem;
}

.app-main {
  text-align: center;
  padding: 2rem;
}

.app-main p {
  font-size: 1.1rem;
  color: #666;
}

.details-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}