.route-details {
    display: flex;
    flex-direction: column;
}

.route-weather-details {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
}

.results-actions {
    margin-top: 1rem;
}